.testForm {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 8px #525050;
    background-color: #faebd7;
}

.formBlock {
    list-style-type: none;
    padding: 0;
    margin: auto;
    font-size: 1.2em;    
}
