<form>
  <label for="password">Enter password:</label>
  <input
    name="password"
    type="password"
    #password
    (input)="validatePassword(password.value)"
  />
</form>
<div class="strength">
  <div class="section">Password strength:</div>
  <div
    class="section"
    [ngClass]="{
      grey: !length,
      red: length === 'easy' || strength === 'easy',
      yellow: length === 'strong' && strength === 'medium',
      green: length === 'strong' && strength === 'strong'
    }"
  ></div>
  <div
    class="section"
    [ngClass]="{
      grey: !length,
      red: length === 'easy',
      yellow: length === 'strong' && strength === 'medium',
      green: length === 'strong' && strength === 'strong'
    }"
  ></div>
  <div
    class="section"
    [ngClass]="{
      grey: !length || strength === 'medium',
      red: length === 'easy',
      green: length === 'strong' && strength === 'strong'
    }"
  ></div>
</div>
