@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3rem;
}

.formLine {
    padding: 8px;
    display: flex;
    justify-content: flex-end;
}

.formLine>label,
.fildname {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.formLine>input,
.sections {
    padding: 8px 0px;
    flex: 3;
}