<li class="formLine">
  <label for="password"><strong>Enter password:</strong></label>
  <input
    name="password"
    [type]="show ? 'text' : 'password'"
    #password
    (input)="validatePassword(password.value)"
  />
</li>
<li class="formLine">
  <div class="fildname"></div>
  <div class="sections">
    <input name="show" type="checkbox" (change)="setShow()" />
    <label for="show"><strong>Show password</strong></label>
  </div>
</li>
<li class="formLine">
  <div class="fildname"><strong>Password strength:</strong></div>
  <div class="sections">
    <div
      class="section"
      [ngClass]="{
        grey: length === 'empty',
        red: length === 'weak' || strength === 1,
        yellow: length === 'full' && strength === 2,
        green: length === 'full' && strength === 3
      }"
    ></div>
    <div
      class="section"
      [ngClass]="{
        grey: length === 'empty',
        red: length === 'weak',
        yellow: length === 'full' && strength === 2,
        green: length === 'full' && strength === 3
      }"
    ></div>
    <div
      class="section"
      [ngClass]="{
        grey: length === 'empty' || strength === 2,
        red: length === 'weak',
        green: length === 'full' && strength === 3
      }"
    ></div>
  </div>
</li>
